@charset "utf-8";

.sc-grid{

  @extend %clearfix;

  > *{
    margin-bottom: 10px;
    width: 100%;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    @media screen and (min-width: 599px){
      width: 49%;

      &:nth-child(odd){
        margin-right: .5%;
      }
      &:nth-child(even){
        margin-left: .5%;
      }
    }
  }

}
