@charset "utf-8";

.sc-figure-image{
  font-size: 1rem;
  margin-bottom: 20px;
  figure{

  }
  figcaption{
    h4, p, a{
      font-size: 0.7857142857142857em;
      margin: 0;
      padding: 0;
      line-height: 1.4;
    }
    h4{
      color: #555;
    }
  }
}
