@charset "utf-8";
.p-author{

  .p-author__avatar {
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
  }
  .p-author__avatar-img {
    width: 100%;
    border-radius: 50%;
    display: block;
  }
  .p-author__self{
    a{color: #404040;}
  }
  .p-author__self--sns{
    @extend %clearfix;
    .p-author__self--sns--item{
      float: left;
      &:after{
        content: " / ";
        transform: translate(-50%, -50%);
        margin: 0 3px;
        font-size: 1.1em;
      }
      &:last-child:after{
        content: none;
      }
    }
  }

}



.p-sidebar-common{
  > *:first-child h2{
    margin-top: 0 !important;
  }

  img{
    border: 1px solid #eee;
    border-radius: 3px;
  }
  h1, h2, h3, h4, h5, h6{
    color: #0c1d2b;
    line-height: 1.225;
    margin: 1.35em 0 .7em;
    padding: 0 0 .3em;
    span{
      display: block;
      width: 100%;
      height: 100%;
      padding: 0.5em 0.8em;
    }
  }
  h1 {
    margin-bottom: .5em;
    margin-top: 2.5em;
    padding-bottom: .3em;
    font-size: 1.7em;
    line-height: 1.2;
  }
  h2{
    margin-bottom: 0.8em;
    margin-top: 2.5em;
    font-size: 1.2em;
    padding: 10px 10px;
    border-width: 2px 0 2px 0;
    border-color: #0c1d2b !important;
    border-style: solid;
    line-height: 10%;
    font-weight: bold;
    text-align: center;
  }
  h3{
    margin-top: 3em;
    font-size: 1.3em;
    line-height: 1.43;
  }
  h4{
    margin-top: 1.3em;
    font-size: 1.2em;
    margin-top: 1.3em;
  }
  h5{
    margin-top: 1.5em;
    font-size: 1.1em;
  }
  h6{
    margin-top: 1.5em;
    font-size: 1em;
    color: #777;
  }
}


.p-webapp-view{
  .p-webapp-view__list{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .p-webapp-view__listitem{
    border: 1px solid #aaa;
    padding: 10px;
    border-radius: 5px;
  }
  a{
    text-decoration: none;
    font-size: 16px;
    // color: #333;
    &:hover{
      opacity: 0.5;
    }
  }
}



/*========================================
 * hatena bookmark
 *========================================*/

.hatena-bookmark-widget-notheme{
  border: 1px solid #ddd;
  border-radius: 4px;
  .hatena-bookmark-widget-title{
    background: #5279E7;
    padding: 5px 0 5px 3px;
    border-radius: 4px 4px 0 0;
    a{
      font-weight: bold;
      display: block;
      color: #FFF;
      margin-left: 8px;
      font-size: 90%;
    }
    img{
      margin-right: 8px;
    }
  }
  .hatena-bookmark-widget-body{
    ul{
      list-style:none;
      padding: 0;
      margin: 0;
      background: #f3f3f3;
    }
    li{
      margin: 0;
      padding: 5px;
      border-bottom: 1px solid #ddd;
      height: 4.5em;
      position: relative;
      background: none;
      font-size: 90%;
      .hatena-bookmark-count{
        position: absolute;
        bottom: 3px;
        right: 5px;
        float: right;
      }
    }
  }
  .hatena-bookmark-widget-footer{
    text-align: center;
    padding: 3px;
    font-weight: bold;
    font-size: 90%;
    color:#5279E7;
    background: #f3f3f3;
    a{text-decoration: none;}
  }
  .hatena-bookmark-count{
    a{
      text-decoration: underline;
    }
    em{
      vertical-align: bottom;
      a{
        background-color: #fff0f0;
        font-weight: bold;
        display: inline;
        font-style: normal;
        color: #ff6666;
      }
    }
    strong{

    }
  }
}
