@charset "utf-8";


.ly_header{
  padding: 25px 0;
  background-color: #26a69a;

  .ly_header-title{

  }
  .ly_header-nav{

  }
}


/*========================================
 * footer
 *========================================*/
.ly_footer{
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #333;

  .ly_code_with_love,
  .ly_footer__copy {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic',Helvetica,arial,sans-serif;
    font-size: 13px;
    line-height: 1;
    color: lighten(#899596, 15%);
  }
}




.ly_main-container-outer{
  background: #f8f8f8;
  .ly_main-container-inner{
    @extend %clearfix;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}


// .ly_main-container-outer{
//
//   background: #f8f8f8;
//
//   @media (min-width: 768px){
//     padding-top: 40px;
//     padding-bottom: 40px;
//   }
//
//   .ly_main-container-inner{
//     @extend %clearfix;
//
//     background: #ffffff;
//     box-shadow: 0 0 1px #dddddd;
//
//     padding: 15px;
//     margin-right: auto;
//     margin-left: auto;
//
//     @media (min-width: 768px){
//       width: 750px;
//       padding: 20px;
//     }
//
//     @media (min-width: 992px){
//       width: 970px;
//     }
//
//     @media (min-width: 1200px){
//       width: 1170px;
//     }
//
//   }
// }
