<!-- <article itemscope itemtype="http://schema.org/Blog">
  <h2 class="entry-title" itemprop="headline"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  <span class="entry-meta"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time></span>
</article> -->

<div class="card">
  <a class="card__media js-ripple js-ripple-effect" itemprop="url" href="{{ .RelPermalink }}">
    <div itemprop="image" itemscope="itemscope" itemtype="https://schema.org/ImageObject">
      {{ if .Params.mainvisual }}
      <img itemprop="image" alt="{{ .Title }}" src="{{ .Params.mainvisual }}">
      {{ else }}
      <img itemprop="image" alt="{{ .Title }}" src="/imgs/no-image.png">
      {{ end }}
      <meta itemprop="url" content="blog/2015/11/04/website-thumbs.jpg">
      <meta itemprop="width" content="800">
      <meta itemprop="height" content="500">
    </div>
  </a>
  <header class="card__body">
    <h1 class="card__title" itemprop="headline">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h1>
    <p class="card__desc">{{ .Summary | plainify }}</p>
    <div class="card__meta">
      <span class="post__category">
        {{ if isset .Params "categories" }}
        {{ $categoriesLen := len .Params.categories }}
        {{ if gt $categoriesLen 0 }}
          <i class="fa fa-folder"></i>
          {{ range $k, $v := .Params.categories }}
          <a rel="tag category" href="{{ $.Site.BaseURL }}categories/{{ . | urlize | lower }}">{{ . }}</a>
          {{ end }}
        {{ end }}
        {{ end }}
      </span>
      <time class="post__pubdate" itemprop="datePublished" datetime="{{ .Date }}">{{ .Date.Format "2006.01.02" }}</time>
    </div>
  </header>
</div>

<!-- <div class="p-content-list">
  <div class="p-list-header">
    <a class="p-list-header__title-link" href="{{ .RelPermalink }}">
      <h1 class="p-list-header__title">{{ .Title }}</h1>
    </a>

    <div class="clearfix">
      <div class="p-list-header__ac">
        <span>
          <i class="fa fa-calendar"></i>
          <time datetime="{{ .Date }}" itemprop="datePublished" pubdate="pubdate">{{ .Date.Format "2006-01-02" }}</time>
        </span>
        {{ with .Params.updated_at }}
        <span style="margin-left:18px">
          <i class="fa fa-refresh" aria-hidden="true"></i>
          <time itemprop="dateModified" datetime="{{ . }}">{{ . | dateFormat "2006-01-02" }}</time>
        </span>
        {{ end }}
      </div>

      {{ if isset .Params "tags" }}
      {{ $tagsLen := len .Params.tags }}
      {{ if gt $tagsLen 0 }}
      <div class="mb5">
        <i class="fa fa-tags"></i>
        {{ range $k, $v := .Params.tags }}
        <a class="p-list-header__link" href="{{ $.Site.BaseURL }}tags/{{ . | urlize | lower }}">{{ . }}</a>
        {{ end }}
      </div>
      {{ end }}
      {{ end }}

      {{ if isset .Params "categories" }}
      {{ $categoriesLen := len .Params.categories }}
      {{ if gt $categoriesLen 0 }}
      <div class="mb5">
        <i class="fa fa-folder"></i>
        {{ range $k, $v := .Params.categories }}
        <a class="p-list-header__link" href="{{ $.Site.BaseURL }}categories/{{ . | urlize | lower }}">{{ . }}</a>
        {{ end }}
      </div>
      {{ end }}
      {{ end }}
    </div>

  </div>


  <div class="p-list-body">
    <div class="p-list-body--mainvisual">
      <div class="p-list-body--mainvisual-img" style="
        {{ if .Params.images }}
          background-image: url('{{ .Params.mainvisual }}');
        {{ else }}
          background-image: url('/images/no-image.png');
        {{ end }}
      "></div>
    </div>

    <div class="p-list-body--summary">
      <div class="p-list-body--summary-body">
        {{ .Summary }}
      </div>
      <div class="p-list-body--summary-filter"></div>
    </div>
    {{ if .Truncated }}
    <a class="p-list-body--link" href="{{ .RelPermalink }}">続きを読む</a>
    {{ end }}
  </div>
</div> -->
