<div class="card">
  <a class="card__media js-ripple js-ripple-effect" itemprop="url" href="{{ .RelPermalink }}">
    <div itemprop="image" itemscope="itemscope" itemtype="https://schema.org/ImageObject">
      {{ if .Params.mainvisual }}
      <img itemprop="image" alt="{{ .Title }}" src="{{ .Params.mainvisual }}">
      {{ else }}
      <img itemprop="image" alt="{{ .Title }}" src="/buildin-resource/imgs/no-image.png">
      {{ end }}
      <!-- <meta itemprop="url" content="blog/2015/11/04/website-thumbs.jpg"> -->
      <!-- <meta itemprop="width" content="800"> -->
      <!-- <meta itemprop="height" content="500"> -->
    </div>
  </a>
  <header class="card__body">
    <h1 class="card__title" itemprop="headline">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h1>
    <p class="card__desc">{{ .Summary | plainify }}</p>
    <div class="card__meta">
      <span class="post__category">
        {{ if isset .Params "categories" }}
        {{ $categoriesLen := len .Params.categories }}
        {{ if gt $categoriesLen 0 }}
          <i class="fa fa-folder"></i>
          {{ range $k, $v := .Params.categories }}
          <a rel="tag category" href="{{ $.Site.BaseURL }}/categories/{{ . | urlize | lower }}">{{ . }}</a>
          {{ end }}
        {{ end }}
        {{ end }}
      </span>
      <time class="post__pubdate" itemprop="datePublished" datetime="{{ .Date }}">{{ .Date.Format "2006.01.02" }}</time>
    </div>
  </header>
</div>
