@charset "utf-8";

.c-related-article{

  ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
  }

  img{
    height: auto;
    max-width: 100%;
  }

  a{
    text-decoration: none;
  }

  .c-related-article--body{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    @media (min-width: 620px){
      -webkit-align-items: stretch;
      align-items: stretch;
    }
  }

  .c-related-article--item{

    margin-bottom: 20px;
    @media (min-width: 620px){
      margin-bottom: 0;
    }

    .c-related-article--link{
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    @media (min-width: 620px){
      border-bottom: 1px solid #e0e0e0;
      width: 50%;
      &:nth-child(odd) {
        border-right: 1px solid #e0e0e0;
        .c-related-article--link{
          padding: 16px 16px 16px 0;
        }
      }
      &:nth-child(even) {
        .c-related-article--link{
          padding: 16px 0 16px 16px;
        }
      }
    }

  }

  .c-related-article--media{
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.12);
    box-shadow: 0 2px 2px rgba(0,0,0,.12);
    position: relative;
    display: inline-table;
    width: 28.57143%;
  }

  .c-related-article--text{
    padding-left: 16px;
    width: 71.42857%;

    .c-related-article--title{
      font-size: 0.9285714285714286rem;
      color: #212121;
      margin-bottom: 0;
      line-height: 1.7;
    }
    .c-related-article--pubdate{
      font-size: 0.8571428571428571rem;
      color: #616161;
      font-weight: 300;
    }
  }

}
