@charset "utf-8";


.p-author{

  .p-author__avatar {
    width: 100%;
    max-width: 190px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }
  .p-author__avatar-img {
    width: 100%;
    border-radius: 50%;
    display: block;
  }
  .p-author__self{
    a{color: #404040;}
  }
  .p-author__self--sns{
    @extend %clearfix;
    margin-bottom: 10px;
    .p-author__self--sns--item{
      float: left;
      &:after{
        content: " / ";
        transform: translate(-50%, -50%);
        margin: 0 3px;
        font-size: 1.1em;
      }
      &:last-child:after{
        content: none;
      }
    }
  }

}
