<!-- <!DOCTYPE html>
{{ with .Site.LanguageCode }}<html lang="{{ . }}">{{ else }}<html>{{ end }}
<head>

  {{ partial "head.html" . }}

</head>
<body id="body">

	<main role="main">
		<article itemscope itemtype="http://schema.org/BlogPosting">
			<h1 class="entry-title" itemprop="headline">{{ .Title }}</h1>
			<span class="entry-meta"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time></span>
			<section itemprop="entry-text">
				<div class="markdown-body">
					{{ .Content }}
				</div>
		</article>
	</main>

{{ partial "foot.html" . }}
</body>
</html> -->


<!DOCTYPE html>
{{ with .Site.LanguageCode }}<html lang="{{ . }}">{{ else }}<html>{{ end }}
<head>

  {{ partial "head.html" . }}

</head>
<body id="body">

  {{ partial "header.html" . }}
  {{ partial "header-nav.html" . }}

  <div class="layout__main-container-outer">
    <div class="layout__main-container-inner">


      <div class="row">

        <div class="col-sm-7 col-md-8">
          {{ partial "post-content.html" . }}
        </div>

        <div class="col-sm-5 col-md-4">
          {{ partial "side-nav.html" . }}
        </div>

      </div>


    </div>
  </div>

{{ partial "to-top-btn.html" . }}
{{ partial "footer.html" . }}
{{ partial "foot.html" . }}
</body>
</html>
