@charset "utf-8";

/*========================================
 * footer
 *========================================*/
.ly__footer {

  padding: 32px 15px;
  background-color: #333;
  font-size: 1rem;

  .ly__footer--inner{
      @extend %clearfix;
      margin-right: auto;
      margin-left: auto;


      @media (min-width: 768px) {
          width: 730px;
      }
      @media (min-width: 992px) {
          width: 970px;
      }
      @media (min-width: 1200px) {
          width: 1170px;
      }

      .ly__footer--left {
        @media (min-width: 768px) {float: left;}
      }

      .ly__footer--right {
        @media (min-width: 768px) {float: right;}
      }
  }




  .footer__logo,
  .footer__nav,
  .footer__code_with_love,
  .footer__copy,
  .footer__by-nc-nd {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic',Helvetica,arial,sans-serif;
    font-size: 0.8125em;
    line-height: 1;
    color: lighten(#899596, 15%);
  }
  .footer__logo {
    color: #fff;
    margin-bottom: 10px;
    font-size: 1.5625em;
    font-weight: bold;
  }
  .footer__nav {
    @extend %clearfix;
    list-style:none;
    font-size: 0.9375em;
  }
  .footer__nav--item {
    float: left;
    &:after {
      color: lighten(#899596, 15%);
      content: "/";
      opacity: 0.54;
      transform: translate(-50%, -50%);
      margin: 0 3px;
      font-size: 1.1em;
    }
    &:last-child:after {
      content: none;
    }
  }


  a{
    margin: 0;
    padding: 0;
    color: #337ab7;
    text-decoration: none;
  }
  a:hover, a:focus {
    color: #23527c;
    text-decoration: underline;
  }
}
