@charset "utf-8";

.header-nav {

  .navbar {
    background: #FFCC00;
    border-bottom: 1px solid #EAEAEA;
    margin: 0;
    // padding: 0 15px;
  }
  // .container-fluid {
  //   padding: 0;
  //
  //   @media (min-width: 768px) {
  //       width: 730px;
  //   }
  //   @media (min-width: 992px) {
  //       width: 970px;
  //   }
  //   @media (min-width: 1200px) {
  //       width: 1170px;
  //   }
  // }

  .navbar-brand {
    font-weight: 800;
    color: #404040;
  }
}
