@charset "utf-8";

.layout__header{
  max-width: 1300px;
  margin: 50px auto 0;
  position: relative;
  .header-title{
    position: absolute;
    margin: 0;
    padding: 0;
  }
  .header-subtitle{
    position: absolute;
    margin: 0;
    padding: 0;
  }
}
