@charset "utf-8";

.header-nav {

  .navbar {
    background: #FFCC00;
    border-bottom: 1px solid #EAEAEA;
    margin: 0;
    color: #404040;
    font-weight: bold;
  }

  .navbar-brand,
  .navbar-nav>li>a {
    color: #404040;
  }

  .navbar-header button:hover,
  .navbar-header button:focus {
    background: darken(#FFCC00, 5%);
  }
}
