@charset "utf-8";

.layout__main{

  @extend %clearfix;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 768px){
    width: 750px;
    margin-top: 45px;
    margin-bottom: 45px;
  }

  @media (min-width: 992px){
    width: 970px;
  }

  @media (min-width: 1200px){
    width: 1050px;
  }


  .layout__main-body{
    width: 100%;
    background: #fff;
    margin-bottom: 30px;
    padding: 15px;
    box-shadow: 0 0 1px #ccc;
  }

  .layout__main-side{
    width: 100%;
    margin-bottom: 30px;
    padding: 15px;
  }

}
