@charset "utf-8";


.layout__main-container-outer {

  background: #f8f8f8;

  @media (min-width: 768px){
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .layout__main-container-inner {
    @extend %clearfix;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    background: #ffffff;
    box-shadow: 0 0 1px #dddddd;

    @media (min-width: 768px){
      width: 750px;
      padding: 35px;
    }

    @media (min-width: 992px){
      width: 970px;
    }

    @media (min-width: 1200px){
      // width: 1170px;
      width: 1120px;
    }
  }

}
