<!--
非同期型ライブラリの読み込みはここから
-->


<!-- Twitter 埋め込み用スクリプト 非同期読み込み -->
<script>
var cb = function() {
  var l=document.createElement('script');
  l.id="twitter-wjs";
  l.async = 1;
  l.src="//platform.twitter.com/widgets.js";
  l.charset="utf-8";
  document.body.appendChild(l);
}
var tt = document.getElementsByClassName( "twitter-tweet" );
if(tt.length){
  var raf = requestAnimationFrame || mozRequestAnimationFrame ||
      webkitRequestAnimationFrame || msRequestAnimationFrame;
  if (raf) raf(cb);
  else window.addEventListener('load', cb);
}
</script>
<!-- Twitter 埋め込み用スクリプト 非同期読み込み -->

<!-- ビーコン画像の読み込み -->
<script>
var PERMALINK_URL = '{{ .Permalink | safeHTML }}'
var cb = function() {
  var l = document.createElement('img');
  l.src = '/buildin-resource/imgs/beacon.png?url='+PERMALINK_URL;
  l.style = "display:none;"
  document.body.appendChild(l);
};
var raf = requestAnimationFrame || mozRequestAnimationFrame ||
    webkitRequestAnimationFrame || msRequestAnimationFrame;
if (raf) raf(cb);
else window.addEventListener('load', cb);
</script>
<!-- ビーコン画像の読み込み END -->










<!--
同期型ライブラリの読み込みはここから
-->


<!-- シェア数の取得 -->
<script>
//はてなブックマークのシェア数
function getHatenaBookmarkCount(entryUrl, selcter) {
  entryUrl = 'https://api.hackerslog.net/st-hatena.php?url=' + encodeURIComponent(entryUrl)
  $.ajax({
    url:entryUrl,
    dataType:'jsonp',
    timeout: 8000,
  }).then(
    function(result){ $(selcter).text(result || 0);},
    function(){ $(selcter).text('0');}
  );
}
// Facebookのシェア数
function getFacebookCount(entryUrl, selcter) {
  entryUrl = 'https://graph.facebook.com/' + encodeURIComponent(entryUrl)
  $.ajax({
    url:entryUrl,
    dataType:'jsonp',
    timeout: 8000,
  }).then(
    function(result){ $(selcter).text(result.shares || 0);},
    function(){ $(selcter).text('0');}
  );
}
// Twitterのシェア数
function getTwitterCount(entryUrl, selcter) {
  entryUrl = 'https://jsoon.digitiminimi.com/twitter/count.json?url=' + encodeURIComponent(entryUrl)
  $.ajax({
    url:entryUrl,
    dataType:'jsonp',
    timeout: 8000,
  }).then(
    function(result){ $(selcter).text(result.shares || 0);},
    function(){ $(selcter).text('0');}
  );
}
$(function(){
  var PERMALINK_URL = '{{ .Permalink | safeHTML }}'
  getHatenaBookmarkCount(PERMALINK_URL, '.js-sharebtn-count-hatebu');
  getFacebookCount(PERMALINK_URL, '.js-sharebtn-count-facebook');
  getTwitterCount(PERMALINK_URL, '.js-sharebtn-count-twitter');
});
</script>
<!-- シェア数の取得 END -->


<!-- シェアボタン押済の表示 -->
<script>
var btns = [
  ".share-buttons .hatebu",
  ".share-buttons .facebook",
  ".share-buttons .twitter",
  ".share-buttons .google",
  ".share-buttons .pocket",
  ".share-buttons .feedly",
];

$(function(){
  var bind = function(class_name){
    var $elem = $(class_name);
    $elem.on("click", function(){
      $elem.map(function(){
        $(this).addClass("pushed");
      })
    });
  };

  $.map(btns, function(btn, i){
    bind(btn);
  });

});
</script>
<!-- シェアボタン押済の表示 END -->


{{ $hostname := replaceRE "^https?://([^/:]+).*(:[0-9]+)?/?$" "$1" .Site.BaseURL }}
<script>
  // 転載対策
  $(function() {
    var isMyHostname = function(myHostname) {
      var hostname = $(location).attr('hostname');
      if(hostname === 'localhost'){
        return true;
      }
      if(hostname === (myHostname || '')){
        return true;
      }else{
        return false;
      }
    }

    var hostname = '{{ $hostname }}';
    var redirectURL = '{{ .Site.BaseURL }}'

    if(!isMyHostname(hostname)){
      $(location).attr("href", redirectURL)
    }
  })
</script>

<!-- table overflow scroll -->
<script>
  $(function(){
    $elem = $('.js-single-content table')
    $elem.addClass('table')
         .addClass('table-striped')
         .addClass('table-bordered');
  });
</script>
<!-- table overflow scroll END -->


<!-- header のデコレーション -->
<script>
$(function(){
  function header_decolation(){
    var top = $(".navbar").offset().top;
    if ( top > 60) {
      $(".navbar").addClass("js-opacity");
    } else if (top < 40) {
      $(".navbar").removeClass("js-opacity");
    }
  }
  $(window).scroll(header_decolation);
});
</script>
<!-- header のデコレーション END -->

<!-- Code highlighting -->
<script>
// highlight.js のカスタム設定
$(function(){
  $(".language-text").addClass("hljs");
  hljs.configure({ tabReplace: "    " });
  hljs.initHighlightingOnLoad();
});
</script>
<!-- Code highlighting END -->

<!-- shortcodes advertisement用 -->
<script>
$(function(){
  var $elem = $('.js-sc-advertisement').find('img');
  $elem.each(function(){
    var $this = $(this);
    if(($this.width() < 2) && ($this.height() < 2)){
      $this.css({"float" : "left"})
    }
  });
})
</script>
<!-- shortcodes advertisement用 END -->

<!-- anchorjs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.2/anchor.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
  anchors.add('.js-anchorjs h1, .js-anchorjs h2, .js-anchorjs h3');
});
</script>
<!-- anchorjs END -->

{{ partial "plugin/script.html" . }}
{{ partial "plugin/style.html" . }}



{{ "<!--" | safeHTML }}

Create from: {{ .Site.BaseURL }} @ {{ if .Hugo.BuildDate }}{{ .Hugo.BuildDate }}{{ else }}{{ .Now.Format "2006-01-02 15:04:05" }}{{ end }} by Hugo
Hugo Version: {{ .Hugo.Version }}
Hugo CommitHash: {{ .Hugo.CommitHash }}
Hugo BuildDate: {{ .Hugo.BuildDate }}

{{ "-->" | safeHTML }}
