<div id="to-top-btn">
  <a href="#"><img src="/buildin-resource/imgs/m_e_others_418.png" alt=""></a>
</div>

<style>
  #to-top-btn{
    width: 45px;
    height: 45px;
    position: fixed;
    right: 25px;
    bottom: 30px;
    box-sizing: border-box;
    display: none;
  }
  #to-top-btn img{max-width: 100%;}
</style>

<script>
$(document).ready(function() {
  var $pagetop = $('#to-top-btn');
  $(window).scroll(function () {
    if ($(this).scrollTop() > 800) {
      $pagetop.stop().fadeIn()
    } else {
      $pagetop.stop().fadeOut()
    }
  });
  $pagetop.click(function () {
    $('body, html').animate({ scrollTop: 0 }, 500);
    return false;
  });
});
</script>
